


<% if !user_signed_in?%>
  <% controller.redirect_to "/" %>
<% end %>

<%= render "layouts/navbar" %>

<section id="page_container">

	<section id="middle_column">
		<section id="new_post_container">
			<%= form_for @post, :html => {:id => 'new_post', :class => 'class'} do |form| %>
				<%= form.text_area :message, placeholder: "What's on your mind?"  %>
				<%= form.file_field :avatar, :html => {:class => 'fas fa-paperclip'} %>
				<div id="new_post_button">
					<i class="fas fa-pencil-alt"></i>
					<%= form.submit 'Post', class: %w(blank_btn)%>
				</div>
			<% end %>
		</section>
												
		<section id="posts_scroller">
				<% @posts.each do |post| %>
				<% user_id = post.user_id %>
				<section id="post_container">
					<div>
						<br>
						<p>
							<strong><%= post.name %></strong>						
						</p>
					</div>

					<div>
						<p><i class="fas fa-thumbs-up" style="color: var(--dark-green)"></i> <%= post.likes.count %></p>
						Posted at: <%= post.created_at.localtime.strftime("%H:%M") %> on: <%= post.created_at.localtime.strftime("%d/%m/%y") %>
					</div>

					<div>
						<% if User.find(user_id).avatar.attached? %>
							<%= image_tag url_for(User.find(user_id).avatar ), class: %w(post_image_size)%>
						<% else %>
							<%= image_tag "unknown.png", class: %w(post_image_size) %>
						<% end %>
						<%= button_to 'Like', post_likes_path(post), class: %w{btn dark_btn}, method: :post %>
					</div>
					
					<div id="message">
						<p>
							<strong>
								<%= simple_format(post.message) %>
							</strong>
							<% if post.avatar.attached?%>
								<%= image_tag url_for(post.avatar), class: %w(post_attachment_size)%>
							<% end %>
						</p>
					</div>
					
			
				</section>
			<% end %>
		</section>
		
	</section>
  

</section>


