<% if !user_signed_in? %>
  <% controller.redirect_to "/" %>
<% end %>

<%= render "layouts/navbar" %>


<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p><%= post.name %></p>
  <p><%= simple_format(post.message)   %></p> <br>
  <p><%= post.created_at.localtime.strftime("%H:%M %d/%m/%y") %></p>
<% end %>