	<% require 'pg' %>
  
  <% if !user_signed_in?%>
		<% controller.redirect_to "/" %>
	<% end %>	

	<%= render "layouts/navbar" %>

  <section id="page_container">
	<%= link_to new_post_path do %>
		New post
	<% end %>

	<section id="new_post_container">
		<section id="new_post">
			<%= form_for @post do |form| %>
        <%= form.text_area :message %>
        <%= form.submit 'Submit' %>
      <% end %>
		</section>
	</section>
  	
	<% @posts.each do |post| %>

  <% user_id = post.user_id %>

		<section id="post_container">
			<div>
				<p><%= post.name %></p>
				
				<% if User.find(user_id).avatar.attached? %>
					<%= image_tag url_for(User.find(user_id).avatar ), class: %w(post_image_size)%>
        <% else %>
          <%= image_tag "unknown.png", class: %w(post_image_size) %>
				<% end %>
			</div>
			<button onclick="togglePostOptions()" class="blank_btn"><i class="fas fa-ellipsis-h"></i></button>
			<div>
				<p>
				</p>
				<p>
					<%= post.created_at.localtime.strftime("%H:%M") %>
				</p>
				<p>
					<%= post.created_at.localtime.strftime("%d/%m/%y") %>
				</p>
			</div>
			<p>
					<p><%= simple_format(post.message)   %></p>
			</p>
			<aside id="post_options">
				<%= link_to 'Edit post' , edit_post_path(post.id) %><br>
					<hr class="divider">
					<%= link_to 'Delete post' , post_path(post.id), method: :delete, data: {
						confirm: "Are you sure you want to delete?" } %>
			</aside>
		</section>
	<% end %>
</section>

