<div id="edit_user_page">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, :html=> {:class => "input_card", method: :put}, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: %w(sr-only)  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: %w(text_input), placeholder: "Username" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field" style="display: grid; justify-items: center;">
    <%= f.label :password, class: %w(sr-only)  %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" , class: %w(text_input), placeholder: "new password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: %w(sr-only)  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: %w(text_input), placeholder: "password confirmation"  %>
  </div>
  
  <div class="field">
    <%= f.label "Profile Photo"%>
    <%= f.file_field :avatar %>
  </div>

  <h1> About you </h1>

  <div class="field">
    <%= f.label "name", class: %w(sr-only) %>
    <%= f.text_field :name, class: %w(text_input), placeholder: "Username"  %>
  </div>

  <div class="field">
    <%= f.label "country", class: %w(sr-only) %>
    <%= f.text_field :country, class: %w(text_input), placeholder: "country"  %>
  </div>

  <div class="field">
    <%= f.label "favourite language", class: %w(sr-only) %>
    <%= f.text_field :languages, class: %w(text_input), placeholder: "languages"  %>
  </div>

  <div class="field">
    <%= f.label "ide", class: %w(sr-only) %>
    <%= f.text_field :ide, class: %w(text_input), placeholder: "ide"  %>
  </div>

  <div class="field">
    <%= f.label "github link", class: %w(sr-only) %>
    <%= f.text_field :github, class: %w(text_input), placeholder: "github"  %>
  </div>

  <div class="field">
    <%= f.label "linkedin", class: %w(sr-only) %>
    <%= f.text_field :linkedin, class: %w(text_input), placeholder: "linkedin"  %>
  </div>

  <div class="field">
    <%= f.label "twitter", class: %w(sr-only) %>
    <%= f.text_field :twitter, class: %w(text_input), placeholder: "twitter"  %>
  </div>


<h2> Submit </h2>

  <div class="field" style="display: grid; justify-items: center;">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


</div>
