<section class="container">
	<section class="title_and_tag">
		<div id="iobook_logo">
			<%= image_tag "IOBOOK_logo.png" %>
		</div> 
		<h3 id="tag_line">IOBook helps you connect and share with the programmers in your life</h3>
	</section>
	<section class="login_container">

			<%= form_for(resource, class: %w(login_card), as: resource_name, url: new_user_session_path(resource_name)) do |f| %>
				<div>
          <%= f.label :email, class: %w(sr-only) %>
					<%= f.email_field :email, autofocus: true, autocomplete: "email" , class: %w(sign_in_input), placeholder: "Email"%>
				</div>

				<div>
            <%= f.label :password, class: %w(sr-only) %>
					<%= f.password_field :password, autocomplete: "current-password", class: %w(sign_in_input), placeholder: "Password"  %>
				</div>

				<!-- <% if devise_mapping.rememberable? %>
					<div class="field">
						<%= f.check_box :remember_me %>
						<%= f.label :remember_me %>
					</div>
				<% end %> -->
        
				<div class="actions">
					<%= f.submit "Log in" %>
				</div>
        
        <%= render "devise/shared/links" %>


			<% end %>
      <div>
        <%= link_to "Sign in with Github", user_github_omniauth_authorize_path%>
      </div>
			

			
	</section>
</section>
    