<% if !user_signed_in?%>
  <% controller.redirect_to "/" %>
<% end %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete%>

<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <% next if post.user_id != current_user.id %>
  <p><%= simple_format(post.message)   %></p>
  <p><%= post.created_at.localtime.strftime("%H:%M %d/%m/%y") %></p>
  <%= link_to 'Edit post', edit_post_path(post.id) %><br>
  <%= link_to 'Delete post', post_path(post.id), method: :delete, data: { confirm: "Are you sure you want to delete?"} %>
<% end %>
		